/build/
/check_mysql.egg-info/
/dist/
/.env
/check_mysql.ini
/doc/private
/.pdm-build/
/.pdm-python
.venv
__pycache__/
*.pyc
/.ken
/.coverage
/coverage.xml
/htmlcov/
/.scannerwork/
/.ruff_cache/
/.mypy_cache/
/.pytest_cache/
/.idea/
